<div class="container">
  <nav class="navbar navbar-default">
    <div>
      <h1>My TODO List</h1>
      <ul>
        <li [routerLink]="['', 'add']" routerLinkActive="active">ADD</li>
        <li [routerLink]="['', 'list']" routerLinkActive="active">LIST</li>
        <li [routerLink]="['', 'favorites']" routerLinkActive="active">FAVORITE TODO LIST
        </li>
      </ul>
    </div>
  </nav>

  <nav class="navbar navbar-mobile">
    <div>
      <h1>My TODO List</h1>
      <div class="hamburger-menu">
         <span (click)="isMenuOpened = !isMenuOpened" [class.show]="!isMenuOpened" class="material-symbols-outlined">
        menu
      </span>
        <span (click)="isMenuOpened = !isMenuOpened" [class.show]="isMenuOpened" class="material-symbols-outlined">
        menu_open
        </span>
      </div>
    </div>
    <div class="menu-items" [class.show]="isMenuOpened">
      <ul>
        <li [routerLink]="['', 'add']" routerLinkActive="active">ADD</li>
        <li [routerLink]="['', 'list']" routerLinkActive="active">LIST</li>
        <li [routerLink]="['', 'favorites']" routerLinkActive="active">FAVORITE TODO LIST
        </li>
      </ul>
    </div>
  </nav>

  <div class="content">
    <router-outlet/>
  </div>
</div>
